/* src/App.css */
#root {
  width: 100%;
  /* Fallback standard */
  min-height: 100vh;
  /* Astuce pour iOS (Safari & Chrome) */
  min-height: -webkit-fill-available;
  /* Standard moderne */
  min-height: 100dvh;
  
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  isolation: isolate;
}

/* S'assure que le html prend tout l'espace */
html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}