@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
  height: 100%; 
  @apply bg-slate-50 dark:bg-slate-950 transition-colors duration-300;
  -webkit-font-smoothing: antialiased; 
}

body { 
  margin: 0; 
  overscroll-behavior-y: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}